@import 'src/utils/styles/settings';

.container{
  display: flex;
  .left-container {
    flex-grow: 2;
  }
}

.sub-container{
display: flex;
flex-direction: column;

}

.types-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    p {
        padding: 2px 10px 5px 10px;
        color: white;
        border-radius: 5px;
    }
}

.ability-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.details p {
  margin: 10px 5px;
  span:first-child {
    font-weight: bold;
  }
}


.movements {    
    span {
      font-weight: bold;
    }
    .movements-table {
      height: 268px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-left: -75px;
      margin-top: 10px;
    table td,th {
      height: 1.5em;
    }
    .Table {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin:0 0 0 70px;
      padding-left: 100px;
      tbody tr:last-child {
        border-bottom: 1px solid #009879;
      }
    }
}
}

  .stats-table {
    width: 100%;
  margin-left: -75px;
  table td,th {
    height: 1.5em;
  }
  .Table {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin:0 0 0 70px;
    padding-left: 100px;
    tbody tr:last-child {
      border-bottom: 1px solid #009879;
    }
  }
}

.image{
    animation: aparicion 0.5s;
  }
  @keyframes aparicion{
    0%  { transform:rotateZ(-1deg); }
    50% { transform:rotateZ( 0deg) scale(.2); }
    100%{ transform:rotateZ( 1deg); }
  }

  .grass {
    border: 1px solid green;
    background-color: $grass;
  }

  .poison {
    border: 1px solid purple;
    background-color: $poison;
  }

  .fire {
    border: 1px solid red;
    background-color: $fire
  }

  .flying {
    border: 1px solid cyan;
    background-color: $flying;
  }

  .water {
    border: 1px solid blue;
    background-color: $water;
  }

  .bug {
    border: 1px solid olivedrab;
    background-color: $bug;
  }

  .normal {
    border: 1px solid lightgray;
    background-color: $normal;
  }

  .rock {
    border: 1px solid dimgray;
    background-color: $rock;
  }

  .ground {
    border: 1px solid brown;
    background-color: $ground;
  }

  .fighting {
    border: 1px solid gray;
    background-color: $fighting;
  }

  .psychic {
    border: 1px solid purple;
    background-color: $psychic;
  }

  .ghost {
    border: 1px solid black;
    background-color: $ghost;
  }

  .ice {
    border: 1px solid lavender;
    background-color: $ice;
  }

  .electric {
    border: 1px solid yellow;
    background-color: $electric;
  }

  .dragon {
    border: 1px solid indigo;
    background-color: $dragon;
  }

  .dark {
    border: 1px solid black;
    background-color: $dark;
  }

  .steel {
    border: 1px solid gray;
    background-color: $steel;
  }

  .fairy {
    border: 1px solid rosybrown;
    background-color: $fairy;
  }