$fire: rgba(255, 0, 0, 0.75);
$grass: rgba(0, 128, 0, 0.75);
$poison: rgba(128, 0, 128, 0.75);
$flying: rgba(0, 255, 255, 0.75);
$water: rgba(0, 0, 255, 0.75);
$bug: rgba(172, 255, 47, 0.75);
$normal: rgba(230, 230, 230, 0.85);
$rock: gray;
$ground : rgba(165, 42, 42, 0.75);
$fighting: rgba(178, 34, 34, 0.75);
$psychic: rgba(139, 0, 139, 0.75);
$ghost: rgba(128, 0, 128, 0.75);
$ice: lightblue;
$electric: rgba(255, 166, 0, 0.65);
$dragon: rgba(218, 165, 32, 0.75);
$dark: rgba(0, 0, 0, 0.75);
$steel: silver;
$fairy: pink;
